{
  "singleQuote": true,
  "tabWidth": 4,
  "bracketSameLine": false,
  "bracketSpacing": true,
  "trailingComma": "es5",
  "arrowParens": "always",
  "quoteProps": "preserve",
  "htmlWhitespaceSensitivity": "css"
}
